@import "tailwindcss";

@theme {
  --font-main: var(--font-main), ui-sans-serif, system-ui, sans-serif;
  --font-logo: var(--font-logo), ui-sans-serif, system-ui, sans-serif;

  --color-bone: #e5e0d5;
  --color-white: #ffffff;

  --color-black: #1a1a1a;
  --color-pure-black: #000000;

  --color-gray: #6b6b6b;
  --color-graphite: #2e2e2e;

  --color-terracotta: #8c3926;

  --color-highlight: #e8cda6;
}

body {
  /* background-color: var(--color-bone); */
  background-color: var(--color-bone);
  color: var(--color-black);
  font-family: var(--font-main);
}

@layer utilities {
  .px-default {
    @apply 2xl:px-20 xl:px-16 md:px-10 px-5;
  }
  .py-default {
    @apply 2xl:py-24 py-20;
  }
  .nav-link {
    @apply relative font-semibold md:text-sm text-xs cursor-pointer;
  }
  .nav-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 1px;
    transition: all 0.15s ease-in;
  }
  .nav-link:hover::after {
    width: 100%;
  }
  .opinions-container {
    @apply flex items-center overflow-auto whitespace-nowrap gap-8;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  /* Footer */
  .footer-col {
    @apply flex flex-col items-start;
  }
  .footer-link {
    @apply text-highlight hover:text-white duration-200 text-sm;
  }
  .checkbox {
    position: relative;
    appearance: none;
    outline: 2px solid var(--color-highlight);
    width: 20px;
    height: 20px;
    border-radius: 2px;
    cursor: pointer;
    z-index: 0;
  }
  .checkbox::after {
    position: absolute;
    background-color: var(--color-highlight);
    content: "";
    width: 0;
    height: 0;
    border-radius: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    z-index: -1;
    transition: all 0.3s;
  }
  .checkbox:checked::after {
    width: 16px;
    height: 16px;
  }

  /* About Page */
  .text-img-wrapper {
    @apply flex flex-col gap-20;
  }

  /* Shop Page */
  .reset-btn {
    position: relative;
    font-weight: 500;
    color: var(--color-gray);
    cursor: pointer;
  }
  .reset-btn::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background: var(--color-gray);
    border-radius: 8px;
  }
}
