@import "tailwindcss";

:root {
  /* Tła */
  --color-bg-main: #f4f4f0;
  --color-bg-surface: #ffffff;

  /* Tekst */
  --color-text-primary: #1a1a1a;
  --color-text-secondary: #6b6b6b;

  /* Akcenty / Elementy interaktywne */
  --color-accent: #2e2e2e;
  --color-accent-hover: #000000;
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
}
