@import "tailwindcss";

@theme {
  --font-main: var(--font-main), ui-sans-serif, system-ui, sans-serif;
  --font-logo: var(--font-logo), ui-sans-serif, system-ui, sans-serif;

  --color-bone: #f4f4f0;
  --color-white: #ffffff;

  --color-black: #1a1a1a;
  --color-pure-black: #000000;

  --color-gray: #6b6b6b;
  --color-graphite: #2e2e2e;
}

body {
  /* background-color: var(--color-bone); */
  background-color: var(--color-graphite);
  color: var(--color-bone);
  font-family: var(--font-main);
}

@layer utilities {
  .px-default {
    @apply 2xl:px-20 xl:px-15 md:px-10 px-5;
  }
  .nav-link {
    @apply relative xl:text-base text-sm cursor-pointer text-bone hover:text-white;
  }
  .nav-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 1px;
    background: var(--color-white);
    transition: all 0.15s ease-in;
  }
  .nav-link:hover::after {
    width: 100%;
  }
}
